<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="Response Data" value="Syune and Aspram" />
		<add key="Request Data" value="What is your name?" />
		<add key="Port" value="1100" />
		<add key="Time" value="5000"/>
	</appSettings>
</configuration>